elpa/
tmp/
.cache/
.tmp/
*#*#*
**/#*#*
**/*~
auto-save-list/
history
bookmarks
transient/history.el
.org-id-locations
eln-cache/
.last-package-update-day
tutorial/
*.bak
projects
*.elc
nov-places
multisession/
tramp
.mc-lists.el
package-quickstart.el
.custom.el
var/
