*#*#*
**/#*#*
**/*~
elpa/
.cache/
.tmp/
auto-save-list/
transient/
.org-id-locations
eln-cache/
.last-package-update-day
tutorial/
*.bak
*.elc
multisession/
package-quickstart.el
.custom.el
var/
scratch*
!lessons/*.el
tree-sitter/
pushmacs
ido.last
test*